.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  .title {
    font-size: 38px;
    margin-bottom: 25px;
    cursor: pointer;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
